<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>




<nav class="blue darken-4 z-depth-5" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <div id="logo-container">
                <a href="#"><img class="icon hide-on-med-and-down" src="Logo3.png" alt="" height=64></a>
                <a href="#" class="brand-logo">Хоттабыч24</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a class="waves-effect waves-light btn-small pulse"><i class="material-icons right">account_box</i>Регистрация</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Личный кабинет</a></li>
                <li><a class="waves-effect waves-light btn-small pulse">Регистрация</a></li>
            </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <!-- <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a> -->
            </div>
            </div>
    </div>
</nav>

<div class="parallax-container z-depth-3">
    <div class="parallax"><img src="banner2.jpg"></div>
</div>
<

<div class="container">

    <div class="row">
        <div class="col s12 m4">
            <div class="card blue darken-4 z-depth-5">
                <div class="card-content white-text">
                    <div class="card-title">Ремонт бытовой техники</div>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small">Выбрать услугу</a>
                    <span class="right white-text"><i class="small material-icons">live_tv</i></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card blue darken-4 z-depth-5">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small">Выбрать услугу</a>
                        <span class="right white-text"><i class="small material-icons">live_tv</i></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="card blue darken-4 z-depth-5">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn-small">Выбрать услугу</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <div class="card blue darken-4 z-depth-5">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card blue darken-4 z-depth-5">
                                <div class="card-content white-text">
                                    <span class="card-title">Card Title</span><span class="card-title"><i class="material-icons">settings</i></span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Подробнее</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m4">
                                <div class="card blue darken-4 z-depth-5">
                                    <div class="card-content white-text">
                                        <h2 class="large right blue-text text-darken-4"><i class="material-icons">settings</i>Ремонт бытовой техники</h2>
                                        <p class="white-text">
                                            <br><a href="stiralnye_mashiny1.html">Стиральные машины</a></br>
                                            <br><a href="#">Холодильники</a></br>
                                            <br><a href=«https://google.com/»>Телевизоры и мониторы</a></br>
                                            <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                                            <br><a href=«https://google.com/»>Газовые плиты, котлы и колонки</a></br>
                                            <br><a href=«https://google.com/»>Электроплиты и обогреватели</a>
                                            <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a>
                                            <br><a href=«https://google.com/»>Пылесосы</a></br>
                                            <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                                            <br><a href=«https://google.com/»>Кофемашины</a></br>
                                            <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">Подробнее</a>
                                    </div>
                                </div>
                            </div>


    </div>


    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s4">
                <div class="icon-block large">
                    <h2 class="large center light-blue-text text-darken-4"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Ремонт бытовой техники</h5>
                    <p class="light-blue-text text-darken-4">
                        <br><a href="stiralnye_mashiny1.html">Стиральные машины</a></br>
                        <br><a href="#">Холодильники</a></br>
                        <br><a href=«https://google.com/»>Телевизоры и мониторы</a></br>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <br><a href=«https://google.com/»>Газовые плиты, котлы и колонки</a></br>
                        <br><a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a>
                        <br><a href=«https://google.com/»>Пылесосы</a></br>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <br><a href=«https://google.com/»>Кофемашины</a></br>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>






            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">perm_data_setting</i></h2>
                    <h5 class="center">Подключение техники и услуг</h5>

                    <p class="light">
                        <a href="Ремонт стиральной машины AEG на дому.html">Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
                    <h5 class="center">Компьютеры и IT-технологии</h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="container">
    <div class="section">



        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">graphic_eq</i></h2>
                    <h5 class="center">Графика и дизайн</h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Фото и изображения на заказ
                    </a>
                        <br><a href=«https://google.com/»>Видео на заказ
                        </a></br>
                        <a href=«https://google.com/»>Видеоклип на заказ
                        </a>
                        <br><a href=«https://google.com/»>Рекламные материалы
                        </a></br>
                        <a href=«https://google.com/»>Дизайн сайтов
                        </a>
                        <br><a href=«https://google.com/»>Сайт-визитка на заказ
                        </a></br>
                        <a href=«https://google.com/»>Интернет-магазин на заказ
                        </a>
                        <br><a href=«https://google.com/»>Сайт предприятия
                        </a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">music_note</i></h2>
                    <h5 class="center">Музыка и искусство
                    </h5>

                    <p class="light">
                        <a href=«https://google.com/»>Музыкальное сопровождение праздников
                        </a>
                        <br><a href=«https://google.com/»>Музыка на заказ
                    </a>
                        <br><a href=«https://google.com/»>Музыка для релакса
                    </a></br>
                        <a href=«https://google.com/»>Видеоклип на заказ
                        </a>
                        <br><a href=«https://google.com/»>Настройка пианино
                    </a></br>
                        <a href=«https://google.com/»>Настройка гитары
                        </a>
                        <br><a href=«https://google.com/»>Научим играть на гитаре
                    </a></br>
                        <a href=«https://google.com/»>Помощь в покупке инструмента
                        </a>
                        <br><a href=«https://google.com/»>--
                    </a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">spa</i></h2>
                    <h5 class="center">Досуг и развлечения, туризм
                    </h5>

                    <p class="light"><a href=«https://google.com/»>Заказать свадьбу, юбилей
                    </a>
                        <br><a href=«https://google.com/»>Ведущий и тамада
                        </a>
                        <br><a href=«https://google.com/»>Заказ столика в кафе/ресторане
                        </a></br>
                        <a href=«https://google.com/»>Фитнес-центры
                        </a>
                        <br><a href=«https://google.com/»>Туристические путевки
                        </a></br>
                        <a href=«https://google.com/»>______________
                        </a>
                        <br><a href=«https://google.com/»>_____________________
                        </a></br>
                        <a href=«https://google.com/»>________________________
                        </a>
                        <br><a href=«https://google.com/»>--
                        </a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="section">



        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">opacity</i></h2>
                    <h5 class="center">Сантехник</h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Электрик</h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">business</i></h2>
                    <h5 class="center">Строитель, ремонт и отделка
                    </h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="section">



        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">person</i></h2>
                    <h5 class="center">Муж на час</h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">wc</i></h2>
                    <h5 class="center">Жена на час</h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">whatshot</i></h2>
                    <h5 class="center">Чистка/Химчистка
                    </h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">radio_button_unchecked</i></h2>
                    <h5 class="center">Бытовые услуги, ЖКХ
                    </h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Окна и двери
                    </h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Натяжные потолки
                    </h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="section">



        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Бухгалтер
                    </h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Юрист</h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Банкир</h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Недвижимость и аренда
                    </h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Транспортные услуги
                    </h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Авторемонт и запчасти
                    </h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Обучение профессии
                    </h5>

                    <p class="light">
                    <p><a href=«https://www.electrom.su/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Холодильники</a></br>
                        <a href=«https://google.com/»>Телевизоры и мониторы</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины</a></br>
                        <a href=«https://google.com/»>Газовые плиты, котлы и колонки</a>
                        <a href=«https://google.com/»>Электроплиты и обогреватели</a>
                        <br><a href=«https://google.com/»>Сплит-системы и кондционеры</a></br>
                        <a href=«https://google.com/»>Пылесосы</a>
                        <br><a href=«https://google.com/»>Микроволновые печи</a></br>
                        <a href=«https://google.com/»>Кофемашины</a>
                        <br><a href=«https://google.com/»>Аудио- видео- аппаратура</a></br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Трудоустройство
                    </h5>

                    <p class="light">
                        <a href=«https://google.com/»>Стиральные машины</a>
                        <br><a href=«https://google.com/»>Посудомоечные машины
                    </a>
                        <br><a href=«https://google.com/»>Спутниковые антенны
                    </a></br>
                        <a href=«https://google.com/»>Эфирные антенны
                        </a>
                        <br><a href=«https://google.com/»>Прокладка и ремонт антенного кабеля
                    </a></br>
                        <a href=«https://google.com/»>Газовые плиты
                        </a>
                        <br><a href=«https://google.com/»>Электроплиты, варочные поверхности, духовые шкафы
                    </a></br>
                        <a href=«https://google.com/»>Кондиционеры и сплит-системы
                        </a>
                        <a href=«https://google.com/»>Водонагреватели
                        </a>
                        <a href=«https://google.com/»>Газовые котлы
                        </a>
                        <a href=«https://google.com/»>Газовые счетчики
                        </a>
                    </p>
                </div>
            </div>


            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Прочие услуги
                    </h5>
                    <p class="light">
                        <a href=«https://www.electrom.su/»>Ремонт компьютеров
                        </a>
                        <br><a href=«https://google.com/»>Ремонт мобильных телефонов
                    </a></br>
                        <a href=«https://google.com/»>Ремонт гаджетов
                        </a>
                        <br><a href=«https://google.com/»>Установка и настройка ПО
                    </a></br>
                        <a href=«https://google.com/»>Подключение и настройка интернета
                        </a>
                        <br><a href=«https://google.com/»>Локальные сети и удаленный доступ
                    </a></br>
                        <a href=«https://google.com/»>Серверное оборудование
                        </a>
                        <a href=«https://google.com/»>Безопасный удаленный помощник
                        </a>
                        <br><a href=«https://google.com/»>Видеонаблюдение</a></br>
                        <a href=«https://google.com/»>Умный дом</a>
                        <br><a href=«https://google.com/»>Консультации по компьютерным программам</a></br>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="page-footer #01579b light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright z-depth-5">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
</body>
</html>